MaidenAirlinesDB/MaidenAirways/Exported WSDL/WSDLBooking_Type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1566910832849" xmlns:ns0="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd7" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1566910832849">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd7" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd7" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Booking_Type">
                <xs:complexType>
                    <xs:attribute name="Cancel_Booking" type="xs:string"/>
                    <xs:attribute name="Change_Date" type="xs:string"/>
                    <xs:attribute name="Checked_Baggage" type="xs:string"/>
                    <xs:attribute name="Cost" type="xs:string"/>
                    <xs:attribute name="Hand_Baggage" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="Name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Booking_Types">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Booking_Type" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StatusBooking_Type">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SuccessBooking_Type"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SuccessBooking_Type">
                <xs:complexType>
                    <xs:attribute name="Value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ServiceBooking_Type">
        <wsdl:port name="Booking_Type" binding="tns:Booking_TypeBinding">
            <soap:address location="http://localhost:9186/SOAP%2520Process/ServiceBooking_Type.serviceagent/Booking_Type"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortTypeBooking_Type">
        <wsdl:operation name="UpdateBookingType">
            <wsdl:input message="tns:InUpdateBooking_Type"/>
            <wsdl:output message="tns:OutUpdateBooking_Types"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllBookingTypes">
            <wsdl:input message="tns:InGetAllBooking_Type"/>
            <wsdl:output message="tns:OutGetAllBooking_Type"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteBookingType">
            <wsdl:input message="tns:InDeleteBooking_Type"/>
            <wsdl:output message="tns:OutDeleteBooking_Type"/>
        </wsdl:operation>
        <wsdl:operation name="GetBookingTypeByID">
            <wsdl:input message="tns:InGetBooking_TypeByID"/>
            <wsdl:output message="tns:OutGetBooking_TypeByID"/>
        </wsdl:operation>
        <wsdl:operation name="InsertBookingType">
            <wsdl:input message="tns:InInsertBooking_Type"/>
            <wsdl:output message="tns:OutInsertBooking_Type"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Booking_TypeBinding" type="tns:PortTypeBooking_Type">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateBookingType">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking_Type.serviceagent/Booking_Type/UpdateBookingType"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Types"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllBookingTypes">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking_Type.serviceagent/Booking_Type/GetAllBookingTypes"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Booking_Types"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteBookingType">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking_Type.serviceagent/Booking_Type/DeleteBookingType"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Types"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBookingTypeByID">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking_Type.serviceagent/Booking_Type/GetBookingTypeByID"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Types"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Booking_Types"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertBookingType">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking_Type.serviceagent/Booking_Type/InsertBookingType"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Types"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InUpdateBooking_Type">
        <wsdl:part name="Booking_Types" element="ns0:Booking_Types"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateBooking_Types">
        <wsdl:part name="Status" element="ns0:StatusBooking_Type"/>
    </wsdl:message>
    <wsdl:message name="InGetAllBooking_Type"/>
    <wsdl:message name="OutGetAllBooking_Type">
        <wsdl:part name="Booking_Types" element="ns0:Booking_Types"/>
    </wsdl:message>
    <wsdl:message name="InDeleteBooking_Type">
        <wsdl:part name="Booking_Types" element="ns0:Booking_Types"/>
    </wsdl:message>
    <wsdl:message name="OutDeleteBooking_Type">
        <wsdl:part name="Status" element="ns0:StatusBooking_Type"/>
    </wsdl:message>
    <wsdl:message name="InGetBooking_TypeByID">
        <wsdl:part name="Booking_Types" element="ns0:Booking_Types"/>
    </wsdl:message>
    <wsdl:message name="OutGetBooking_TypeByID">
        <wsdl:part name="Booking_Types" element="ns0:Booking_Types"/>
    </wsdl:message>
    <wsdl:message name="InInsertBooking_Type">
        <wsdl:part name="Booking_Types" element="ns0:Booking_Types"/>
    </wsdl:message>
    <wsdl:message name="OutInsertBooking_Type">
        <wsdl:part name="Status" element="ns0:StatusBooking_Type"/>
    </wsdl:message>
</wsdl:definitions>