MaidenAirlinesDB/MaidenAirways/Exported WSDL/WSDLAirplaneIP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1566397446396" xmlns:ns0="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd2" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1566397446396">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd2" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Airplane">
                <xs:complexType>
                    <xs:attribute name="Cargo_Hold_Capacity" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="Model" type="xs:string"/>
                    <xs:attribute name="Number_Seats" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Airplanes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Airplane" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Success"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Success">
                <xs:complexType>
                    <xs:attribute name="Value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ServiceAirplane">
        <wsdl:port name="Airplane" binding="tns:AirplaneBinding">
            <soap:address location="http://localhost:9080/SOAP%2520Process/ServiceAirplane.serviceagent/Airplane"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortTypeAirplane">
        <wsdl:operation name="UpdateAirplane">
            <wsdl:input message="tns:InUpdateAirplane"/>
            <wsdl:output message="tns:OutUpdateAirplane"/>
        </wsdl:operation>
        <wsdl:operation name="InsertAirplane">
            <wsdl:input message="tns:InInsertAirplane"/>
            <wsdl:output message="tns:OutInsertAirplane"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteAirplane">
            <wsdl:input message="tns:InDeleteAirplane"/>
            <wsdl:output message="tns:OutDeleteAirplane"/>
        </wsdl:operation>
        <wsdl:operation name="GetAirportByID">
            <wsdl:input message="tns:InGetAirplaneByID"/>
            <wsdl:output message="tns:OutGetAirplaneByID"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllAirplanes">
            <wsdl:input message="tns:InGetAllAirplanes"/>
            <wsdl:output message="tns:OutGetAllAirplanes"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AirplaneBinding" type="tns:PortTypeAirplane">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateAirplane">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirplane.serviceagent/Airplane/UpdateAirplane"/>
            <wsdl:input>
                <soap:body use="literal" parts="Airplane"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertAirplane">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirplane.serviceagent/Airplane/InsertAirplane"/>
            <wsdl:input>
                <soap:body use="literal" parts="Airplane"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteAirplane">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirplane.serviceagent/Airplane/DeleteAirplane"/>
            <wsdl:input>
                <soap:body use="literal" parts="Airplane"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAirportByID">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirplane.serviceagent/Airplane/GetAirportByID"/>
            <wsdl:input>
                <soap:body use="literal" parts="Airplane"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Airplane"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllAirplanes">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirplane.serviceagent/Airplane/GetAllAirplanes"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Airplanes"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InUpdateAirplane">
        <wsdl:part name="Airplane" element="ns0:Airplanes"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateAirplane">
        <wsdl:part name="Status" element="ns0:Status"/>
    </wsdl:message>
    <wsdl:message name="InInsertAirplane">
        <wsdl:part name="Airplane" element="ns0:Airplanes"/>
    </wsdl:message>
    <wsdl:message name="OutInsertAirplane">
        <wsdl:part name="Status" element="ns0:Status"/>
    </wsdl:message>
    <wsdl:message name="InDeleteAirplane">
        <wsdl:part name="Airplane" element="ns0:Airplanes"/>
    </wsdl:message>
    <wsdl:message name="OutDeleteAirplane">
        <wsdl:part name="Status" element="ns0:Status"/>
    </wsdl:message>
    <wsdl:message name="InGetAirplaneByID">
        <wsdl:part name="Airplane" element="ns0:Airplanes"/>
    </wsdl:message>
    <wsdl:message name="OutGetAirplaneByID">
        <wsdl:part name="Airplane" element="ns0:Airplanes"/>
    </wsdl:message>
    <wsdl:message name="InGetAllAirplanes"/>
    <wsdl:message name="OutGetAllAirplanes">
        <wsdl:part name="Airplanes" element="ns0:Airplanes"/>
    </wsdl:message>
</wsdl:definitions>