MaidenAirlinesDB/MaidenAirways/Exported WSDL/WSDLBooking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1567008376005" xmlns:ns0="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd8" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1567008376005">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd8" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd8" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="BoardingPass">
                <xs:complexType>
                    <xs:attribute name="Arrival_Airport_City" type="xs:string"/>
                    <xs:attribute name="Departure_Airport_City" type="xs:string"/>
                    <xs:attribute name="Departure_Date" type="xs:string"/>
                    <xs:attribute name="First_Name" type="xs:string"/>
                    <xs:attribute name="Flight_Number" type="xs:string"/>
                    <xs:attribute name="Last_Name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="BoardingPasses">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:BoardingPass" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Booking">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Passengers" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element ref="ns0:SelectedFlights" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="Booking_Type" type="xs:string"/>
                    <xs:attribute name="Date" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="ID_Client" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Booking_Client_Flight">
                <xs:complexType>
                    <xs:attribute name="Check_In" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="Id_Booking" type="xs:string"/>
                    <xs:attribute name="Id_Client" type="xs:string"/>
                    <xs:attribute name="Id_Flight" type="xs:string"/>
                    <xs:attribute name="Seat" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Booking_Client_Flights">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Booking_Client_Flight" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Bookings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Booking" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Passengers">
                <xs:complexType>
                    <xs:attribute name="Address" type="xs:string"/>
                    <xs:attribute name="Contact_Number" type="xs:string"/>
                    <xs:attribute name="Date_Of_Birth" type="xs:string"/>
                    <xs:attribute name="Email" type="xs:string"/>
                    <xs:attribute name="First_Name" type="xs:string"/>
                    <xs:attribute name="Gender" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="Id_Number" type="xs:string"/>
                    <xs:attribute name="Id_Type_Client" type="xs:string"/>
                    <xs:attribute name="Last_Name" type="xs:string"/>
                    <xs:attribute name="Number_Miles" type="xs:string"/>
                    <xs:attribute name="Password" type="xs:string"/>
                    <xs:attribute name="Photo" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="SelectedFlights">
                <xs:complexType>
                    <xs:attribute name="ID" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="StatusBooking">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SuccessBooking"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SuccessBooking">
                <xs:complexType>
                    <xs:attribute name="Value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ServiceBooking">
        <wsdl:port name="Booking" binding="tns:BookingBinding">
            <soap:address location="http://localhost:9187/SOAP%2520Process/Service.serviceagent/Booking"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortTypeBooking">
        <wsdl:operation name="GenerateBoardingPass">
            <wsdl:input message="tns:InGenerateBoardingPass"/>
            <wsdl:output message="tns:OutGenerateBoardingPass"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllBooking_Client_Flights">
            <wsdl:input message="tns:InGetAllBooking_Client_Flight"/>
            <wsdl:output message="tns:OutGetAllBooking_Client_Flight"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateBooking_Client_FlightId_Flight">
            <wsdl:input message="tns:InUpdateBooking_Client_FlightChange_Flight"/>
            <wsdl:output message="tns:OutUpdateBooking_Client_FlightChange_Flight"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllBookings">
            <wsdl:input message="tns:InGetAllBookings"/>
            <wsdl:output message="tns:OutGetAllBookings"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteBooking">
            <wsdl:input message="tns:InDeleteBooking"/>
            <wsdl:output message="tns:OutDeleteBooking"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateBooking_Client_Flight">
            <wsdl:input message="tns:InUpdateBooking_Client_Flight"/>
            <wsdl:output message="tns:OutUpdateBooking_Client_Flight"/>
        </wsdl:operation>
        <wsdl:operation name="GetBooking_Client_FlightByBooking_Client_Flight">
            <wsdl:input message="tns:InGetBooking_Client_FlightByBooking_Client_Flight"/>
            <wsdl:output message="tns:OutGetBooking_Client_FlightByBooking_Client_Flight"/>
        </wsdl:operation>
        <wsdl:operation name="InsertBooking">
            <wsdl:input message="tns:InInsertBooking"/>
            <wsdl:output message="tns:OutInsertBooking"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateBooking">
            <wsdl:input message="tns:InUpdateBooking"/>
            <wsdl:output message="tns:OutUpdateBooking"/>
        </wsdl:operation>
        <wsdl:operation name="GetBookingByID">
            <wsdl:input message="tns:InGetBookingByID"/>
            <wsdl:output message="tns:OutGetBookingByID"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BookingBinding" type="tns:PortTypeBooking">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GenerateBoardingPass">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking.serviceagent//GenerateBoardingPass"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Client_Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="BoardingPass"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllBooking_Client_Flights">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking.serviceagent//GetAllBooking_Client_Flights"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Booking_Client_Flight"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateBooking_Client_FlightId_Flight">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking.serviceagent//UpdateBooking_Client_FlightId_Flight"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Client_Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllBookings">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Booking/GetAllBookings"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteBooking">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Booking/DeleteBooking"/>
            <wsdl:input>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateBooking_Client_Flight">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Booking/UpdateBooking_Client_Flight"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Client_Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBooking_Client_FlightByBooking_Client_Flight">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceBooking.serviceagent//GetBooking_Client_FlightByBooking_Client_Flight"/>
            <wsdl:input>
                <soap:body use="literal" parts="Booking_Client_Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Booking_Client_Flight"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertBooking">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Booking/InsertBooking"/>
            <wsdl:input>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateBooking">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Booking/UpdateBooking"/>
            <wsdl:input>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBookingByID">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Booking/GetBookingByID"/>
            <wsdl:input>
                <soap:body use="literal" parts="Bookings"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Booking"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InGenerateBoardingPass">
        <wsdl:part name="Booking_Client_Flight" element="ns0:Booking_Client_Flights"/>
    </wsdl:message>
    <wsdl:message name="OutGenerateBoardingPass">
        <wsdl:part name="BoardingPass" element="ns0:BoardingPasses"/>
    </wsdl:message>
    <wsdl:message name="InGetAllBooking_Client_Flight"/>
    <wsdl:message name="OutGetAllBooking_Client_Flight">
        <wsdl:part name="Booking_Client_Flight" element="ns0:Booking_Client_Flights"/>
    </wsdl:message>
    <wsdl:message name="InUpdateBooking_Client_FlightChange_Flight">
        <wsdl:part name="Booking_Client_Flight" element="ns0:Booking_Client_Flights"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateBooking_Client_FlightChange_Flight">
        <wsdl:part name="Status" element="ns0:StatusBooking"/>
    </wsdl:message>
    <wsdl:message name="InGetAllBookings"/>
    <wsdl:message name="OutGetAllBookings">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="InDeleteBooking">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="OutDeleteBooking">
        <wsdl:part name="Status" element="ns0:StatusBooking"/>
    </wsdl:message>
    <wsdl:message name="InUpdateBooking_Client_Flight">
        <wsdl:part name="Booking_Client_Flight" element="ns0:Booking_Client_Flights"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateBooking_Client_Flight">
        <wsdl:part name="Status" element="ns0:StatusBooking"/>
    </wsdl:message>
    <wsdl:message name="InGetBooking_Client_FlightByBooking_Client_Flight">
        <wsdl:part name="Booking_Client_Flight" element="ns0:Booking_Client_Flights"/>
    </wsdl:message>
    <wsdl:message name="OutGetBooking_Client_FlightByBooking_Client_Flight">
        <wsdl:part name="Booking_Client_Flight" element="ns0:Booking_Client_Flights"/>
    </wsdl:message>
    <wsdl:message name="InInsertBooking">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="OutInsertBooking">
        <wsdl:part name="Status" element="ns0:StatusBooking"/>
    </wsdl:message>
    <wsdl:message name="InUpdateBooking">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateBooking">
        <wsdl:part name="Status" element="ns0:StatusBooking"/>
    </wsdl:message>
    <wsdl:message name="InGetBookingByID">
        <wsdl:part name="Bookings" element="ns0:Bookings"/>
    </wsdl:message>
    <wsdl:message name="OutGetBookingByID">
        <wsdl:part name="Booking" element="ns0:Bookings"/>
    </wsdl:message>
</wsdl:definitions>