MaidenAirlinesDB/MaidenAirways/Exported WSDL/WSDLFlight.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1566403284561" xmlns:ns0="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1566403284561">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd3" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd3" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Flight">
                <xs:complexType>
                    <xs:attribute name="Arrival_Airport" type="xs:string"/>
                    <xs:attribute name="Arrival_Date" type="xs:string"/>
                    <xs:attribute name="Departure_Airport" type="xs:string"/>
                    <xs:attribute name="Departure_Date" type="xs:string"/>
                    <xs:attribute name="Flight_Number" type="xs:string"/>
                    <xs:attribute name="Gate" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="ID_Airplane" type="xs:string"/>
                    <xs:attribute name="Status" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Flights">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Flight" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StatusFlight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SuccessFlight"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SuccessFlight">
                <xs:complexType>
                    <xs:attribute name="Value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ServiceFlight">
        <wsdl:port name="Flight" binding="tns:FlightBinding">
            <soap:address location="http://localhost:9084/SOAP%2520Process/ServiceFlight.serviceagent/Flight"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortTypeFlight">
        <wsdl:operation name="InsertFlight">
            <wsdl:input message="tns:InInsertFlight"/>
            <wsdl:output message="tns:OutInsertFlight"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteFlight">
            <wsdl:input message="tns:InDeleteFlight"/>
            <wsdl:output message="tns:OutDeleteFlight"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllFlights">
            <wsdl:input message="tns:InGetAllFlights"/>
            <wsdl:output message="tns:OutGetAllFlights"/>
        </wsdl:operation>
        <wsdl:operation name="GetFlightByID">
            <wsdl:input message="tns:InGetFlightByID"/>
            <wsdl:output message="tns:OutGetFlightByID"/>
        </wsdl:operation>
        <wsdl:operation name="GetFlightByDateAndLocal">
            <wsdl:input message="tns:InGetFlightByDateAndLocal"/>
            <wsdl:output message="tns:OutGetFlightByDateAndLocal"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateFlight">
            <wsdl:input message="tns:InUpdateFlight"/>
            <wsdl:output message="tns:OutUpdateFlight"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FlightBinding" type="tns:PortTypeFlight">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InsertFlight">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceFlight.serviceagent/Flight/InsertFlight"/>
            <wsdl:input>
                <soap:body use="literal" parts="Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteFlight">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceFlight.serviceagent/Flight/DeleteFlight"/>
            <wsdl:input>
                <soap:body use="literal" parts="Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllFlights">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceFlight.serviceagent/Flight/GetAllFlights"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Flights"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFlightByID">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceFlight.serviceagent/Flight/GetFlightByID"/>
            <wsdl:input>
                <soap:body use="literal" parts="Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Flights"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetFlightByDateAndLocal">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceFlight.serviceagent/Flight/GetFlightByDateAndLocal"/>
            <wsdl:input>
                <soap:body use="literal" parts="Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Flights"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateFlight">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceFlight.serviceagent/Flight/UpdateFlight"/>
            <wsdl:input>
                <soap:body use="literal" parts="Flight"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InInsertFlight">
        <wsdl:part name="Flight" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="OutInsertFlight">
        <wsdl:part name="part1" element="ns0:StatusFlight"/>
    </wsdl:message>
    <wsdl:message name="InDeleteFlight">
        <wsdl:part name="Flight" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="OutDeleteFlight">
        <wsdl:part name="part1" element="ns0:StatusFlight"/>
    </wsdl:message>
    <wsdl:message name="InGetAllFlights"/>
    <wsdl:message name="OutGetAllFlights">
        <wsdl:part name="Flights" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="InGetFlightByID">
        <wsdl:part name="Flight" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="OutGetFlightByID">
        <wsdl:part name="Flights" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="InGetFlightByDateAndLocal">
        <wsdl:part name="Flight" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="OutGetFlightByDateAndLocal">
        <wsdl:part name="Flights" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="InUpdateFlight">
        <wsdl:part name="Flight" element="ns0:Flights"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateFlight">
        <wsdl:part name="Status" element="ns0:StatusFlight"/>
    </wsdl:message>
</wsdl:definitions>