MaidenAirlinesDB/MaidenAirways/Exported WSDL/WSDLAirportIP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1566394341185" xmlns:ns0="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1566394341185">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd" targetNamespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Airport">
                <xs:complexType>
                    <xs:attribute name="City" type="xs:string"/>
                    <xs:attribute name="Country" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="Name" type="xs:string"/>
                    <xs:attribute name="Short_Name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Airports">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Airport" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SearchToken">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Word"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Status">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Success"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Success">
                <xs:complexType>
                    <xs:attribute name="Value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Word">
                <xs:complexType>
                    <xs:attribute name="Value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ServiceAirport">
        <wsdl:port name="Airport" binding="tns:AirportBinding">
            <soap:address location="http://192.168.56.1:8081/SOAP%2520Process/ServiceAirport.serviceagent/Airport"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortTypeAirport">
        <wsdl:operation name="GetAllAirports">
            <wsdl:input message="tns:InGetAllAirports"/>
            <wsdl:output message="tns:OutGetAllAirports"/>
        </wsdl:operation>
        <wsdl:operation name="InsertAirport">
            <wsdl:input message="tns:inInsertAirport"/>
            <wsdl:output message="tns:OutInsertAirport"/>
        </wsdl:operation>
        <wsdl:operation name="GetAirportByID">
            <wsdl:input message="tns:InGetAirportByID"/>
            <wsdl:output message="tns:OutGetAirportByID"/>
        </wsdl:operation>
        <wsdl:operation name="GetAirportBySearchToken">
            <wsdl:input message="tns:InGetAirportBySearchToken"/>
            <wsdl:output message="tns:OutGetAirportBySearchToken"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateAirport">
            <wsdl:input message="tns:InUpdateAirport"/>
            <wsdl:output message="tns:OutUpdateAirport"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteAirport">
            <wsdl:input message="tns:InDeleteAirport"/>
            <wsdl:output message="tns:OutDeleteAirport"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AirportBinding" type="tns:PortTypeAirport">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAllAirports">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirport.serviceagent/PortTypeAirportEndpoint1/GetAllAirports"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Airports"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertAirport">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirport.serviceagent/PortTypeAirportEndpoint1/InsertAirport"/>
            <wsdl:input>
                <soap:body use="literal" parts="Airport"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAirportByID">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirport.serviceagent//GetAirportByID"/>
            <wsdl:input>
                <soap:body use="literal" parts="Airport"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Airport"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAirportBySearchToken">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirport.serviceagent/PortTypeAirportEndpoint1/GetAirportBySearchToken"/>
            <wsdl:input>
                <soap:body use="literal" parts="Word"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateAirport">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirport.serviceagent/PortTypeAirportEndpoint1/UpdateAirport"/>
            <wsdl:input>
                <soap:body use="literal" parts="Airport"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteAirport">
            <soap:operation style="document" soapAction="/SOAP%2520Process/ServiceAirport.serviceagent/PortTypeAirportEndpoint1/DeleteAirport"/>
            <wsdl:input>
                <soap:body use="literal" parts="ID"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InGetAllAirports"/>
    <wsdl:message name="OutGetAllAirports">
        <wsdl:part name="Airports" element="ns0:Airports"/>
    </wsdl:message>
    <wsdl:message name="inInsertAirport">
        <wsdl:part name="Airport" element="ns0:Airport"/>
    </wsdl:message>
    <wsdl:message name="OutInsertAirport">
        <wsdl:part name="Status" element="ns0:Status"/>
    </wsdl:message>
    <wsdl:message name="InGetAirportByID">
        <wsdl:part name="Airport" element="ns0:Airport"/>
    </wsdl:message>
    <wsdl:message name="OutGetAirportByID">
        <wsdl:part name="Airport" element="ns0:Airport"/>
    </wsdl:message>
    <wsdl:message name="InGetAirportBySearchToken">
        <wsdl:part name="Word" element="ns0:SearchToken"/>
    </wsdl:message>
    <wsdl:message name="OutGetAirportBySearchToken">
        <wsdl:part name="part1" element="ns0:Airports"/>
    </wsdl:message>
    <wsdl:message name="InUpdateAirport">
        <wsdl:part name="Airport" element="ns0:Airport"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateAirport">
        <wsdl:part name="Status" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="InDeleteAirport">
        <wsdl:part name="ID" type="xs:string"/>
    </wsdl:message>
    <wsdl:message name="OutDeleteAirport">
        <wsdl:part name="Status" type="xs:string"/>
    </wsdl:message>
</wsdl:definitions>