MaidenAirlinesDB/MaidenAirways/Exported WSDL/WSDLClient_Type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1567087538397" xmlns:ns0="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd9" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1567087538397">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd9" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd9" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="Client_Type">
                <xs:complexType>
                    <xs:attribute name="Annual_Fee" type="xs:string"/>
                    <xs:attribute name="Bonus_Miles" type="xs:string"/>
                    <xs:attribute name="ID" type="xs:string"/>
                    <xs:attribute name="Monthly_Miles" type="xs:string"/>
                    <xs:attribute name="Name" type="xs:string"/>
                    <xs:attribute name="Welcome_Bonus" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="Client_Types">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:Client_Type" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StatusClient_Type">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:SuccessClient_Type"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SuccessClient_Type">
                <xs:complexType>
                    <xs:attribute name="Value" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="ServiceClient_Type">
        <wsdl:port name="Client_Type" binding="tns:Client_TypeBinding">
            <soap:address location="http://localhost:9088/SOAP%2520Process/Service.serviceagent/Client_Type"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortTypeClient_Type">
        <wsdl:operation name="DeleteClient_Type">
            <wsdl:input message="tns:InDeleteClient_Type"/>
            <wsdl:output message="tns:OutDeleteClient_Type"/>
        </wsdl:operation>
        <wsdl:operation name="InsertClient_Type">
            <wsdl:input message="tns:InInsertClient_Type"/>
            <wsdl:output message="tns:OutInsertClient_Type"/>
        </wsdl:operation>
        <wsdl:operation name="GetClient_TypeByID">
            <wsdl:input message="tns:InGetClient_TypeByID"/>
            <wsdl:output message="tns:OutGetClient_TypeByID"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateClient_Type">
            <wsdl:input message="tns:InUpdateClient_Type"/>
            <wsdl:output message="tns:OutUpdateClient_Type"/>
        </wsdl:operation>
        <wsdl:operation name="GetAllClient_Type">
            <wsdl:input message="tns:InGetAllClient_Types"/>
            <wsdl:output message="tns:OutGetAllClient_Types"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Client_TypeBinding" type="tns:PortTypeClient_Type">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DeleteClient_Type">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Client_Type/DeleteClient_Type"/>
            <wsdl:input>
                <soap:body use="literal" parts="Client_Types"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertClient_Type">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Client_Type/InsertClient_Type"/>
            <wsdl:input>
                <soap:body use="literal" parts="Client_Types"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetClient_TypeByID">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Client_Type/GetClient_TypeByID"/>
            <wsdl:input>
                <soap:body use="literal" parts="Client_Type"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Client_Types"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateClient_Type">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Client_Type/UpdateClient_Type"/>
            <wsdl:input>
                <soap:body use="literal" parts="Client_Types"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Status"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllClient_Type">
            <soap:operation style="document" soapAction="/SOAP%2520Process/Service.serviceagent/Client_Type/GetAllClient_Type"/>
            <wsdl:input>
                <soap:body use="literal" parts=""/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="Client_Types"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="InDeleteClient_Type">
        <wsdl:part name="Client_Types" element="ns0:Client_Types"/>
    </wsdl:message>
    <wsdl:message name="OutDeleteClient_Type">
        <wsdl:part name="Status" element="ns0:StatusClient_Type"/>
    </wsdl:message>
    <wsdl:message name="InInsertClient_Type">
        <wsdl:part name="Client_Types" element="ns0:Client_Types"/>
    </wsdl:message>
    <wsdl:message name="OutInsertClient_Type">
        <wsdl:part name="Status" element="ns0:StatusClient_Type"/>
    </wsdl:message>
    <wsdl:message name="InGetClient_TypeByID">
        <wsdl:part name="Client_Type" element="ns0:Client_Types"/>
    </wsdl:message>
    <wsdl:message name="OutGetClient_TypeByID">
        <wsdl:part name="Client_Types" element="ns0:Client_Types"/>
    </wsdl:message>
    <wsdl:message name="InUpdateClient_Type">
        <wsdl:part name="Client_Types" element="ns0:Client_Types"/>
    </wsdl:message>
    <wsdl:message name="OutUpdateClient_Type">
        <wsdl:part name="Status" element="ns0:StatusClient_Type"/>
    </wsdl:message>
    <wsdl:message name="InGetAllClient_Types"/>
    <wsdl:message name="OutGetAllClient_Types">
        <wsdl:part name="Client_Types" element="ns0:Client_Types"/>
    </wsdl:message>
</wsdl:definitions>