MaidenAirlinesDB/MaidenAirways/SOAP Messages/Backoffice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd5" xmlns:tns="http://xmlns.example.com/1566568363834" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1566568363834">
    <import namespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd5" location="../Schemas/Backoffice.xsd"/>
    <message name="InInsertBackoffice">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <message name="OutInsertBackoffice">
        <part name="Status" element="ns:StatusBackoffice"/>
    </message>
    <message name="InUpdateBackoffice">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <message name="OutUpdateBackoffice">
        <part name="Status" element="ns:StatusBackoffice"/>
    </message>
    <message name="InDeleteBackoffice">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <message name="OutDeleteBackoffice">
        <part name="Status" element="ns:StatusBackoffice"/>
    </message>
    <message name="InGetAllBackoffice"/>
    <message name="OutGetAllBackoffice">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <message name="InGetBackofficeByID">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <message name="OutGetBackofficeByID">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <message name="InGetBackofficeByUsername">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <message name="OutGetBackofficeByUsername">
        <part name="Backoffice" element="ns:Backoffices"/>
    </message>
    <portType name="PortTypeackoffice">
        <operation name="InsertBackoffice">
            <input message="tns:InInsertBackoffice"/>
            <output message="tns:OutInsertBackoffice"/>
        </operation>
        <operation name="UpdateBackoffice">
            <input message="tns:InUpdateBackoffice"/>
            <output message="tns:OutUpdateBackoffice"/>
        </operation>
        <operation name="DeleteBackoffice">
            <input message="tns:InDeleteBackoffice"/>
            <output message="tns:OutDeleteBackoffice"/>
        </operation>
        <operation name="GetAllBackoffice">
            <input message="tns:InGetAllBackoffice"/>
            <output message="tns:OutGetAllBackoffice"/>
        </operation>
        <operation name="GetBackofficeByID">
            <input message="tns:InGetBackofficeByID"/>
            <output message="tns:OutGetBackofficeByID"/>
        </operation>
        <operation name="GetBackofficeByUsername">
            <input message="tns:InGetBackofficeByUsername"/>
            <output message="tns:OutGetBackofficeByUsername"/>
        </operation>
    </portType>
</definitions>