MaidenAirlinesDB/MaidenAirways/SOAP Messages/Booking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd8" xmlns:tns="http://xmlns.example.com/1567006972092" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1567006972092">
    <import namespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd8" location="../Schemas/Booking.xsd"/>
    <message name="InInsertBooking">
        <part name="Bookings" element="ns:Bookings"/>
    </message>
    <message name="OutInsertBooking">
        <part name="Status" element="ns:StatusBooking"/>
    </message>
    <message name="InUpdateBooking">
        <part name="Bookings" element="ns:Bookings"/>
    </message>
    <message name="OutUpdateBooking">
        <part name="Status" element="ns:StatusBooking"/>
    </message>
    <message name="InDeleteBooking">
        <part name="Bookings" element="ns:Bookings"/>
    </message>
    <message name="OutDeleteBooking">
        <part name="Status" element="ns:StatusBooking"/>
    </message>
    <message name="InGetAllBookings"/>
    <message name="OutGetAllBookings">
        <part name="Bookings" element="ns:Bookings"/>
    </message>
    <message name="InGetBookingByID">
        <part name="Bookings" element="ns:Bookings"/>
    </message>
    <message name="OutGetBookingByID">
        <part name="Booking" element="ns:Bookings"/>
    </message>
    <message name="InUpdateBooking_Client_Flight">
        <part name="Booking_Client_Flight" element="ns:Booking_Client_Flights"/>
    </message>
    <message name="OutUpdateBooking_Client_Flight">
        <part name="Status" element="ns:StatusBooking"/>
    </message>
    <message name="InUpdateBooking_Client_FlightChange_Flight">
        <part name="Booking_Client_Flight" element="ns:Booking_Client_Flights"/>
    </message>
    <message name="OutUpdateBooking_Client_FlightChange_Flight">
        <part name="Status" element="ns:StatusBooking"/>
    </message>
    <message name="InGetBooking_Client_FlightByBooking_Client_Flight">
        <part name="Booking_Client_Flight" element="ns:Booking_Client_Flights"/>
    </message>
    <message name="OutGetBooking_Client_FlightByBooking_Client_Flight">
        <part name="Booking_Client_Flight" element="ns:Booking_Client_Flights"/>
    </message>
    <message name="InGetAllBooking_Client_Flight"/>
    <message name="OutGetAllBooking_Client_Flight">
        <part name="Booking_Client_Flight" element="ns:Booking_Client_Flights"/>
    </message>
    <message name="InGenerateBoardingPass">
        <part name="Booking_Client_Flight" element="ns:Booking_Client_Flights"/>
    </message>
    <message name="OutGenerateBoardingPass">
        <part name="BoardingPass" element="ns:BoardingPasses"/>
    </message>
    <portType name="PortTypeBooking">
        <operation name="InsertBooking">
            <input message="tns:InInsertBooking"/>
            <output message="tns:OutInsertBooking"/>
        </operation>
        <operation name="UpdateBooking">
            <input message="tns:InUpdateBooking"/>
            <output message="tns:OutUpdateBooking"/>
        </operation>
        <operation name="DeleteBooking">
            <input message="tns:InDeleteBooking"/>
            <output message="tns:OutDeleteBooking"/>
        </operation>
        <operation name="GetAllBookings">
            <input message="tns:InGetAllBookings"/>
            <output message="tns:OutGetAllBookings"/>
        </operation>
        <operation name="GetBookingByID">
            <input message="tns:InGetBookingByID"/>
            <output message="tns:OutGetBookingByID"/>
        </operation>
        <operation name="UpdateBooking_Client_Flight">
            <input message="tns:InUpdateBooking_Client_Flight"/>
            <output message="tns:OutUpdateBooking_Client_Flight"/>
        </operation>
        <operation name="UpdateBooking_Client_FlightId_Flight">
            <input message="tns:InUpdateBooking_Client_FlightChange_Flight"/>
            <output message="tns:OutUpdateBooking_Client_FlightChange_Flight"/>
        </operation>
        <operation name="GetBooking_Client_FlightByBooking_Client_Flight">
            <input message="tns:InGetBooking_Client_FlightByBooking_Client_Flight"/>
            <output message="tns:OutGetBooking_Client_FlightByBooking_Client_Flight"/>
        </operation>
        <operation name="GetAllBooking_Client_Flights">
            <input message="tns:InGetAllBooking_Client_Flight"/>
            <output message="tns:OutGetAllBooking_Client_Flight"/>
        </operation>
        <operation name="GenerateBoardingPass">
            <input message="tns:InGenerateBoardingPass"/>
            <output message="tns:OutGenerateBoardingPass"/>
        </operation>
    </portType>
</definitions>