MaidenAirlinesDB/MaidenAirways/SOAP Messages/Client_Type.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd9" xmlns:tns="http://xmlns.example.com/1567086215413" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1567086215413">
    <import namespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd9" location="../Schemas/Client_Type.xsd"/>
    <message name="InInsertClient_Type">
        <part name="Client_Types" element="ns:Client_Types"/>
    </message>
    <message name="OutInsertClient_Type">
        <part name="Status" element="ns:StatusClient_Type"/>
    </message>
    <message name="InUpdateClient_Type">
        <part name="Client_Types" element="ns:Client_Types"/>
    </message>
    <message name="OutUpdateClient_Type">
        <part name="Status" element="ns:StatusClient_Type"/>
    </message>
    <message name="InDeleteClient_Type">
        <part name="Client_Types" element="ns:Client_Types"/>
    </message>
    <message name="OutDeleteClient_Type">
        <part name="Status" element="ns:StatusClient_Type"/>
    </message>
    <message name="InGetAllClient_Types"/>
    <message name="OutGetClient_TypeByID">
        <part name="Client_Types" element="ns:Client_Types"/>
    </message>
    <message name="OutGetAllClient_Types">
        <part name="Client_Types" element="ns:Client_Types"/>
    </message>
    <message name="InGetClient_TypeByID">
        <part name="Client_Type" element="ns:Client_Types"/>
    </message>
    <portType name="PortTypeClient_Type">
        <operation name="InsertClient_Type">
            <input message="tns:InInsertClient_Type"/>
            <output message="tns:OutInsertClient_Type"/>
        </operation>
        <operation name="UpdateClient_Type">
            <input message="tns:InUpdateClient_Type"/>
            <output message="tns:OutUpdateClient_Type"/>
        </operation>
        <operation name="DeleteClient_Type">
            <input message="tns:InDeleteClient_Type"/>
            <output message="tns:OutDeleteClient_Type"/>
        </operation>
        <operation name="GetAllClient_Type">
            <input message="tns:InGetAllClient_Types"/>
            <output message="tns:OutGetAllClient_Types"/>
        </operation>
        <operation name="GetClient_TypeByID">
            <input message="tns:InGetClient_TypeByID"/>
            <output message="tns:OutGetClient_TypeByID"/>
        </operation>
    </portType>
</definitions>