MaidenAirlinesDB/MaidenAirways/SOAP Messages/Client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd4" xmlns:tns="http://xmlns.example.com/1566487447802" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1566487447802">
    <import namespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd4" location="../Schemas/Clients.xsd"/>
    <message name="InInsertClient">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="OutInsertClient">
        <part name="Status" element="ns:StatusClient"/>
    </message>
    <message name="InUpdateClient">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="OutUpdateClient">
        <part name="Status" element="ns:StatusClient"/>
    </message>
    <message name="InDeleteClient">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="OutDeleteClient">
        <part name="Status" element="ns:StatusClient"/>
    </message>
    <message name="InGetAllClients"/>
    <message name="OutGetAllClients">
        <part name="Clients" element="ns:Clients"/>
    </message>
    <message name="InGetClientByID">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="OutGetClientByID">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="InGetClientByID_Number">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="OutGetClientByID_Number">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="InGetClientByEmail">
        <part name="Client" element="ns:Clients"/>
    </message>
    <message name="OutGetClientByEmail">
        <part name="Client" element="ns:Clients"/>
    </message>
    <portType name="PortTypeClient">
        <operation name="InsertClient">
            <input message="tns:InInsertClient"/>
            <output message="tns:OutInsertClient"/>
        </operation>
        <operation name="UpdateClient">
            <input message="tns:InUpdateClient"/>
            <output message="tns:OutUpdateClient"/>
        </operation>
        <operation name="DeleteClient">
            <input message="tns:InDeleteClient"/>
            <output message="tns:OutDeleteClient"/>
        </operation>
        <operation name="GetAllClients">
            <input message="tns:InGetAllClients"/>
            <output message="tns:OutGetAllClients"/>
        </operation>
        <operation name="GetClientByID">
            <input message="tns:InGetClientByID"/>
            <output message="tns:OutGetClientByID"/>
        </operation>
        <operation name="GetClientByID_Number">
            <input message="tns:InGetClientByID_Number"/>
            <output message="tns:OutGetClientByID_Number"/>
        </operation>
        <operation name="GetClientByEmail">
            <input message="tns:InGetClientByEmail"/>
            <output message="tns:OutGetClientByEmail"/>
        </operation>
    </portType>
</definitions>