MaidenAirlinesDB/MaidenAirways/SOAP Messages/Role.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd6" xmlns:tns="http://xmlns.example.com/1566573806131" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.example.com/1566573806131">
    <import namespace="http://www.tibco.com/schemas/MaidenAirways/Schemas/Schema.xsd6" location="../Schemas/Role.xsd"/>
    <message name="InInsertRole">
        <part name="Role" element="ns:Roles"/>
    </message>
    <message name="OutInsertRole">
        <part name="Status" element="ns:StatusRole"/>
    </message>
    <message name="InUpdateRole">
        <part name="Role" element="ns:Roles"/>
    </message>
    <message name="OutUpdateRole">
        <part name="Status" element="ns:StatusRole"/>
    </message>
    <message name="InDeleteRole">
        <part name="Role" element="ns:Roles"/>
    </message>
    <message name="OutDeleteRole">
        <part name="Status" element="ns:StatusRole"/>
    </message>
    <message name="InGetAllRoles"/>
    <message name="OutGetAllRoles">
        <part name="Roles" element="ns:Roles"/>
    </message>
    <message name="InGetRoleByName">
        <part name="Roles" element="ns:Roles"/>
    </message>
    <message name="OutGetRoleByName">
        <part name="Roles" element="ns:Roles"/>
    </message>
    <message name="InGetRoleByID">
        <part name="Role" element="ns:Roles"/>
    </message>
    <message name="OutGetRoleByID">
        <part name="Role" element="ns:Roles"/>
    </message>
    <portType name="PortTypeRole">
        <operation name="InsertRole">
            <input message="tns:InInsertRole"/>
            <output message="tns:OutInsertRole"/>
        </operation>
        <operation name="UpdateRole">
            <input message="tns:InUpdateRole"/>
            <output message="tns:OutUpdateRole"/>
        </operation>
        <operation name="DeleteRole">
            <input message="tns:InDeleteRole"/>
            <output message="tns:OutDeleteRole"/>
        </operation>
        <operation name="GetAllRoles">
            <input message="tns:InGetAllRoles"/>
            <output message="tns:OutGetAllRoles"/>
        </operation>
        <operation name="GetRoleByName">
            <input message="tns:InGetRoleByName"/>
            <output message="tns:OutGetRoleByName"/>
        </operation>
        <operation name="GetRoleByID">
            <input message="tns:InGetRoleByID"/>
            <output message="tns:OutGetRoleByID"/>
        </operation>
    </portType>
</definitions>